<h1>Hi</h1>
<h2>{{title}}</h2>

<!-- event binding -->
<button class="button" (click)="buttonClicked()">Display Details</button>

<!-- structural directive to toggle display -->
<pre *ngIf="displayButton">
   <code>
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ut amet numquam aliquid totam
   ullam, saepe velit soluta impedit nihil possimus, autem repellendus tempora rem.
   </code>
</pre>

<!-- display the logs array and give white text colour to all list items after 5 using attribute directives -->
<ul>
   <li *ngFor="let logItem of logs; let i = index" [ngStyle]="{color: i >= 4 ? 'white' : 'black'}"
      [ngClass]="{blue: i >= 4}">
      Clicked {{logItem}} times
   </li>
</ul>